.block_lpprogressx {
  --lppx-green: #17a23f;
}

.block_lpprogressx {
    color: #000;
    background-color: #f44336;
    background-repeat: no-repeat;
}

.block_lpprogressx .final {
    display: inline;
    vertical-align: super;
    margin-left: 0.7em;
}
.block_lpprogressx .green {
  color: var(--lppx-green);
}
.block_lpprogressx #progressbar li {
    list-style-type: none;
}

.block_lpprogressx #progressbar li a {
    margin-left: 1em;
    vertical-align: -15%;
}

.block_lpprogressx #progressbar .step0:before {
    content: "";
    background-color: #999da0;
    position: absolute;
    left: 0.55em;
}

.block_lpprogressx #progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 20px;
    background: #fff;
    border: 2px solid white;
    border-radius: 50%;
}

.block_lpprogressx #progressbar li:after {
    content: '';
    width: 4px;
    height: 2em;
    background: #bdbdbd;
    display: block;
    margin-left: -0.5em;
}

.block_lpprogressx #progressbar li:last-child:before {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: -0.25em;
}

.block_lpprogressx #progressbar li:last-child:after {
    height: 0;
}

.block_lpprogressx #progressbar li.active:after {
    background: #c6e4c0;
}

.block_lpprogressx #progressbar li.active:before {
    background: var(--lppx-green);
    font-family: fontawesome;
}
#block-region-side-pre .block_lpprogressx .col-3 {
  flex: unset;
  max-width: 100% ;
}

.block_lpprogressx .metatile {
    min-height: 70px;
}
.block_lpprogressx .metatile-content {
    min-height: 70px;
}

.block_lpprogressx .metatile-img {
    min-height: 70px;
}

.block_lpprogressx .content {
	width: inherit;
	container-type: inline-size;
}
/* CHANGED tinjohn 20221010 */

@media(max-width: 286px) {
	.metatile-img {
		float: unset;
		margin: 0 auto;
	}
	.metatile-content {
		font-size: clamp(0.9em, 5cqi, 2em);
	}
	.metatile {
		  background-color: #f0f0f0;
		  /*color: #666;*/
	    border-top: 5px solid #1c3d76;
			border-right: 0px;
	    padding-top: 10px;
	    width: 100%;
			width: calc(100% - 2px);
			padding: 2px;
			margin: 0 auto;
			margin-bottom: 10px;
	}
	/* .metatile:nth-child(even) {
    margin-left: 0;
		margin-right: auto;
	}
	.metatile:nth-child(odd) {
    margin-left: 0;
		margin-right: auto;
	} */
	.metatile h2 {
		text-align: center;
	}
  .block_lpprogressx .mform {
			display: block;
  }
}