{{#plans}}
<div class="container-fluid mb-1">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="card card0 border-0">
                <div class="row">
                    <div class="col-12">
                        <div class="card card00 m-2 border-0">
                            <div class="row text-center justify-content-center">
                                <h3 class="mt-1">{{name}}</h3>
                            </div>
                            <div class="d-flex flex-md-row flex-column-reverse">
                                <div class="col-md-12">
                                    <div class="card1">
                                        <ul id="progressbar" class="text-center">
                                            {{#competencies}}
                                                <li class="{{#isproficient}}active{{/isproficient}} step0"></li>
                                            {{/competencies}}
                                            <li class="step0 {{#iscompleted}}active{{/iscompleted}}"></li>
                                        </ul>
                                        {{#competencies}}
                                        <p><a href="#" data-id="{{competency.id}}" data-action="find-courses-link">{{competency.shortname}}</a></p>
                                        {{/competencies}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row pb-1">
                                <h2 class="text-muted final">{{#str}} completed, block_lpprogress {{/str}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/plans}}
{{#js}}
require(['jquery',
        'core/templates',
        'core/ajax',
        'core/notification',
        'core/str',
        'tool_lp/dialogue'],
        function($, templates, ajax, notification, str, Dialogue) {

    $('section.block_lpprogress').find('[data-action="find-courses-link"]').click(function(e) {
        e.preventDefault();

        var competencyid = $(e.target).data('id');
        var requests = ajax.call([{
            methodname: 'tool_lp_list_courses_using_competency',
            args: {id: competencyid}
        }]);

        requests[0].done(function(courses) {
            var context = {
                courses: courses
            };
            templates.render('tool_lp/linked_courses_summary', context).done(function(html) {
                str.get_string('linkedcourses', 'tool_lp').done(function(linkedcourses) {
                    new Dialogue(
                        linkedcourses, // Title.
                        html // The linked courses.
                    );
                }).fail(notification.exception);
            }).fail(notification.exception);
        }).fail(notification.exception);
    });
});
{{/js}}
